@use './variables' as v;

/* Diseño mobile-first */

footer {
  background-color: v.$headerFooterBackground;
  color: #fff;
  padding: 1rem;
  text-align: center;

  a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;

    &:hover {
      color: v.$mainGreen;
    }
  }

  .footer__container {
    display: flex; /* Cambiado a flex para tener filas en lugar de columnas */
    flex-direction: column; /* Filas en lugar de columnas en el diseño mobile-first */
    gap: 2rem;

    section {
      flex: 1; /* Todas las secciones ocupan el mismo espacio disponible */
      margin-bottom: 1rem;
    }

    .socialNetworks__ul {
      display: flex;
      justify-content: center; // Alinea los elementos en el centro horizontalmente
      transform: scale(1.5);

      li {
        margin-left: 2rem; // Ajusta el valor según la separación deseada
        transition: 0.3s; // Transición de color al hacer hover

        &:hover {
          transform: scale(1.6);
        }
      }

      a {
        color: v.$headerFooterBackground; // Color por defecto
        font-size: 2.4rem; // Tamaño de fuente

        // Estilos para los iconos de redes sociales específicos
        &.fb {
          color: #3b5998!important; // Azul de Facebook
        }

        &.fa-instagram {
          background-image: linear-gradient(to bottom, #e4405f, #8a2be2)!important; // Rosa de Instagram a Violeta
          -webkit-background-clip: text; // Aplicar clip al texto para que el gradiente se muestre solo en el texto
          color: transparent; // Hacer el texto transparente para que solo se muestre el gradiente de fondo
        }

        &.wsp {
          color: #25d366!important; // Verde de WhatsApp
        }

        &.envelope {
          color: #c4302b!important; // Rojo oscuro para el ícono de correo electrónico
        }
      }
    }
  }

  #links {
    text-align: center; /* Centra el contenido horizontalmente en la sección "links" */

    a {
      display: block;
      margin-bottom: 0.5rem;
    }
  }

  #mapa {
    text-align: center;

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    iframe {
      margin: 0 auto; // Establece el margen izquierdo a 0
      display: block; // Para ajustar automáticamente el margen horizontal
      max-width: 100%; // Establece el ancho máximo al 100% del contenedor
    }

    .addressMap {
      cursor: pointer;

      &:hover {
        color: v.$mainGreen;
      }
    }
  }

  .destacado {
    border: .2rem solid v.$mainGreen;
    border-radius: .8rem;
    padding: 1rem;
    animation: resaltar 1s 2 alternate;
    background-color: #2e2e2e;
  }

  @keyframes resaltar {
    0% {
      transform: scale(1);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }
    100% {
      transform: scale(1.05);
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
    }
  }

  .copyright__a {
    color: #4B815E;
  }

  .developerSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
      font-size: smaller;
    }

    .reactLogoContainer {
      text-align: center;
      margin-top: 2rem; // Ajusta el espacio según sea necesario

      &:hover {
        transform: scale(1.4)!important;
      }
    }

    .reactLogo {
      width: 4rem; // Ajusta el tamaño del logotipo según tus preferencias
      height: auto;
      animation: reactLogo-spin 20s linear infinite;

      @keyframes reactLogo-spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
}

/* Diseño para tabletas */
@media screen and (min-width: 60rem) {
  footer {
    padding: 2rem;
    justify-content: space-between;
    text-align: left;

    .footer__container {
      flex-direction: row;
      justify-content: space-between;

      section {
        flex: 1; /* Todas las secciones ocupan el mismo espacio disponible */
      }
    }

    #mapa {
      span:first-child {
        text-decoration: underline;
      }

      p {text-align: left}

      #verMapa {
        display: inline!important;
      }

      iframe {
        display: none; // Inicialmente, oculta el iframe en tabletas
      }
    }

    #mapa.activo {
      iframe {
        display: block; // Si #mapa tiene la clase 'activo', muestra el iframe
      }
    }
  }
}
