@use './variables' as v;

#mainGrid {
  display: grid;
  gap: 2rem; /* 20px */
  justify-content: center;

  div {
    background-color: white;
    color: black;
    text-align: center;
    border: 0.1rem solid #ccc; /* 1px */
    border-radius: 0.8rem; /* 8px */
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    .mainGrid__link {
      display: flex;
      flex-direction: column; /* Cambia la dirección del eje principal a vertical */
      height: 100%;
      padding: 2rem;

      .linkDescription__container {
        align-self: flex-end; /* Ubica este elemento al final del contenedor padre en el eje Y */
        border: none;
      }

      .linkDescription__container:hover {
        transform: scale(1);
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      text-align: center;
      height: 7.5rem; /* 75px */
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      font-size: 1.75rem;
      margin-top: 1rem;
    }
  }
}

/* Diseño para tabletas */
@media screen and (min-width: 600px) { /* 600px */
  #mainGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 300px */
  }

  p {
    font-size: 2rem;
  }
}

/* Diseño para escritorio */
@media screen and (min-width: 1024px) { /* 1024px */
  #mainGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
