@use './variables' as v;
@import './header';
@import './footer';
@import './nosotros';
@import './indexMain';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

main, #introduction {
  padding: 6rem;
  background-color: v.$mainGreen;
  color: black;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .pages__img {
    width: 30rem; /* Ajusta el tamaño según tus necesidades */
    height: 20rem;
    margin-bottom: 2rem;
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
  }

  a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: inherit; /* Utiliza el color del texto del elemento padre */
  }

  a:hover {
    text-decoration: none; /* También elimina el subrayado en el estado de hover (si lo deseas) */
  }

  .bigFontSize {
    font-size: 2.25rem;
    line-height: 3.30rem;
  }

  p, h3, h4 {
    text-align: left!important; /* este  funciona perfectamente */ 
  }

  p {margin-bottom: 2rem;}

  h1 {
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
    margin-top: 3.5rem; /* Este valor puede ajustarse según la cantidad de espacio que desees */
  }

  h4 {
    margin-top: 2rem;
    text-decoration: underline;
  }
}

#introduction {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  margin: 0;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0a7a83;
  color: white;

  a {
    color: inherit!important;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;

    &:hover {
      color: v.$mainGreen!important;
    }
  }
}

.enterprise {
  padding: .2rem .5rem;
  color: white;
  text-transform: uppercase;
}

.enterprise:hover {
  background-color: white;
  color: v.$mainGreen;
}

.wsp-btn {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background: #25d366;
  color: #FFF;
  border-radius: 5rem;
  text-align: center;
  font-size: 3.5rem;
  box-shadow: 0px .1rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
  width: 6.3rem;
  height: 6.3rem;
  line-height: 6.6rem;

  &:hover {
    color: #20ba5a;
    background: white;
    transform: scale(1.13);
  }
}

#scrollToTopButton {
  position: fixed; 
  bottom: 1rem;
  left: 2.5rem;
  display: none;
  background: url(../images/icon_top.png) no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &.scaled {
  transform: scale(1.2);
  }
}